body{
    display: flex;
    flex-direction: column;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    min-height: 100vh;       /* full viewport height */
    margin: 0;
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

div{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}